In [70]:
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv('../../../data/kc_house_data.csv')

In [3]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

### a bit more cleaning (note: most screening in Pete_housing notebook)

In [4]:
df.loc[df['sqft_basement'] == '?']

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,0.0,0.0,...,7,1200,?,1921,0.0,98002,47.3089,-122.210,1060,5095
42,7203220400,7/7/2014,861990.0,5,2.75,3595,5639,2.0,0.0,0.0,...,9,3595,?,2014,0.0,98053,47.6848,-122.016,3625,5639
79,1531000030,3/23/2015,720000.0,4,2.50,3450,39683,2.0,0.0,0.0,...,10,3450,?,2002,0.0,98010,47.3420,-122.025,3350,39750
112,2525310310,9/16/2014,272500.0,3,1.75,1540,12600,1.0,0.0,0.0,...,7,1160,?,1980,0.0,98038,47.3624,-122.031,1540,11656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21442,3226049565,7/11/2014,504600.0,5,3.00,2360,5000,1.0,0.0,0.0,...,7,1390,?,2008,0.0,98103,47.6931,-122.330,2180,5009
21447,1760650900,7/21/2014,337500.0,4,2.50,2330,4907,2.0,0.0,0.0,...,7,2330,?,2013,NaN,98042,47.3590,-122.081,2300,3836
21473,6021503707,1/20/2015,352500.0,2,2.50,980,1010,3.0,NaN,0.0,...,8,980,?,2008,0.0,98117,47.6844,-122.387,980,1023
21519,2909310100,10/15/2014,332000.0,4,2.50,2380,5737,2.0,0.0,0.0,...,7,2380,?,2010,0.0,98023,47.2815,-122.356,2380,5396
21581,191100405,4/21/2015,1580000.0,4,3.25,3410,10125,2.0,0.0,0.0,...,10,3410,?,2007,NaN,98040,47.5653,-122.223,2290,10125

In [5]:
df['sqft_basement'] = df['sqft_basement'].str.replace('?', '0')

df.shape

(21597, 21)

In [6]:
df[['sqft_basement']] = df[['sqft_basement']].apply(pd.to_numeric)

In [7]:
df['area_basement'] = df['sqft_living']-df['sqft_above']

In [8]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,area_basement
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,400
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062,0
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,910
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,0

### start w/ simple model at first

In [9]:
#set X & y variables
X = df.drop(['price'], axis = 1)
y = df['price']

In [10]:
#train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=2021)

In [11]:
#run simple model w/ best predictor (sqft_living)
model_1_train = X_train[['sqft_living']] 
model_1_test = X_test[['sqft_living']]
model1 = LinearRegression()
model1.fit(model_1_train, y_train)

LinearRegression()

In [12]:
#interpret the error & fit of the model
train_preds = model1.predict(model_1_train)
test_preds = model1.predict(model_1_test)

train_error = mean_squared_error(y_train, train_preds, squared=False)
test_error = mean_squared_error(y_test, test_preds, squared=False)
print('train error', train_error)
print('test error', test_error)

r_sq = model1.score(model_1_train, y_train)
print('coefficient of determination:', r_sq)
print('intercept:', model1.intercept_)
intercept: 5.633333333333329
print('slope:', model1.coef_)

train error 262419.7884333472
test error 259878.49234916252
coefficient of determination: 0.4886786453279144
intercept: -47377.18949402089
slope: [281.86285286]

#### the model seems balanced, but produces a pretty poor fit

In [ ]:
#options: scaling, binning & encoding, polynomial model

In [ ]:
#need to make a copy of the original then do train_test_split on it & continue with below

### copy dataset & prepare for other models

In [31]:
df_2 = df.copy()
df_2.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,area_basement
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,400
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062,0
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,910
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,0

In [32]:
#set X & y variables
X = df_2.drop(['price'], axis = 1)
y = df_2['price']

In [33]:
#train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=2021)

In [28]:
#set predictors by dropping these variables
# X_train_pared = X_train.drop(['id', 'date', 'waterfront', 'view', 'sqft_basement', 'lat', 'long', 'yr_renovated'], axis = 1)
# X_test_pared = X_test.drop(['id', 'date', 'waterfront', 'view', 'sqft_basement', 'lat', 'long', 'yr_renovated'], axis = 1)

In [55]:
X_train_pared =X_train[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'condition', 'grade', 'sqft_above', 'yr_built', 'zipcode',
       'sqft_living15', 'sqft_lot15', 'area_basement']]
X_test_pared = X_test[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'condition', 'grade', 'sqft_above', 'yr_built', 'zipcode',
       'sqft_living15', 'sqft_lot15', 'area_basement']]

In [56]:
print(f"X_train_pared is this big: {X_train_pared.shape}")
print(f"X_test_pared is this big: {X_test_pared.shape}")
print(f"y_train is this big: {y_train.shape}")
print(f"y_test is this big: {y_test.shape}")

X_train_pared is this big: (15117, 13)
X_test_pared is this big: (6480, 13)
y_train is this big: (15117,)
y_test is this big: (6480,)

### model2: all numerical values unscaled

In [57]:
#run full model w/ all predictors
#update with new model that includes the updated array of dropped X values
model2 = LinearRegression()
model2.fit(X_train_pared, y_train)

LinearRegression()

In [58]:
#interpret the error & fit of the model
train_preds = model2.predict(X_train_pared)
test_preds = model2.predict(X_test_pared)

train_error = mean_squared_error(y_train, train_preds, squared=False)
test_error = mean_squared_error(y_test, test_preds, squared=False)
print('train error', train_error)
print('test error', test_error)

r_sq = model2.score(X_train_pared, y_train)
print('coefficient of determination:', r_sq)
print('intercept:', model2.intercept_)
intercept: 5.633333333333329
print('slopes:', model2.coef_)

train error 226809.3163724381
test error 225347.17138654352
coefficient of determination: 0.6180358986328702
intercept: -3908662.141204476
slopes: [-5.53565918e+04  5.29924939e+04  1.23601320e+02 -3.75842337e-03
  3.31806254e+04  1.90673638e+04  1.25157986e+05  4.79810560e+01
 -3.91829660e+03  1.09609829e+02  3.20610668e+01 -5.38628776e-01
  7.56202635e+01]

#### Model 3: run model 2 scaled

In [71]:
#scale training data
scaler = RobustScaler() #there are other options
scaler.fit(X_train_pared) #do this in first step w/ only train data
X_train_scaled = scaler.transform(X_train_pared)

In [72]:
# Scale the test set, with same scalar
scaler.fit(X_test_pared)
X_test_scaled = scaler.transform(X_test_pared)

In [73]:
#run full model w/ all predictors scaled
model3 = LinearRegression()
model3.fit(X_train_scaled, y_train)

LinearRegression()

In [74]:
#interpret the error & fit of the model
train_preds = model3.predict(X_train_scaled)
test_preds = model3.predict(X_test_scaled)

train_error = mean_squared_error(y_train, train_preds, squared=False)
test_error = mean_squared_error(y_test, test_preds, squared=False)
print('train error', train_error)
print('test error', test_error)

r_sq = model3.score(X_train_scaled, y_train)
print('coefficient of determination:', r_sq)
print('intercept:', model3.intercept_)
intercept: 5.633333333333329
print('slopes:', model3.coef_)

train error 226809.3163724381
test error 225441.93886818696
coefficient of determination: 0.6180358986328702
intercept: 394573.7861123688
slopes: [-5.53565918e+04  3.97443704e+04  1.03992962e+05 -2.10847551e+01
  3.31806254e+04  1.90673638e+04  1.25157986e+05  8.03061467e+04
 -1.72405050e+05  9.20722567e+03  2.82137388e+04 -2.65813301e+03
  6.06313126e+04]

### Model4: re-run model 3 w/ log price

In [75]:
df_3 = df_2.copy()
df_3.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,area_basement
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,400
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062,0
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,910
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,0

In [78]:
df_3['log_price'] = np.log(df_3['price'])

In [79]:
#set X & y variables
X = df_3.drop(['price', 'log_price'], axis = 1)
y = df_3['log_price']

In [80]:
#train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=2021)

In [81]:
X_train_4 =X_train[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'condition', 'grade', 'sqft_above', 'yr_built', 'zipcode',
       'sqft_living15', 'sqft_lot15', 'area_basement']]
X_test_4 = X_test[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'condition', 'grade', 'sqft_above', 'yr_built', 'zipcode',
       'sqft_living15', 'sqft_lot15', 'area_basement']]

In [82]:
print(f"X_train_4 is this big: {X_train_4.shape}")
print(f"X_test_4 is this big: {X_test_4.shape}")
print(f"y_train is this big: {y_train.shape}")
print(f"y_test is this big: {y_test.shape}")

X_train_4 is this big: (15117, 13)
X_test_4 is this big: (6480, 13)
y_train is this big: (15117,)
y_test is this big: (6480,)

In [83]:
#run full model w/ all predictors
#update with new model that includes the updated array of dropped X values
model4 = LinearRegression()
model4.fit(X_train_4, y_train)

LinearRegression()

In [84]:
#interpret the error & fit of the model
train_preds = model4.predict(X_train_4)
test_preds = model4.predict(X_test_4)

train_error = mean_squared_error(y_train, train_preds, squared=False)
test_error = mean_squared_error(y_test, test_preds, squared=False)
print('train error', train_error)
print('test error', test_error)

r_sq = model4.score(X_train_4, y_train)
print('coefficient of determination:', r_sq)
print('intercept:', model4.intercept_)
intercept: 5.633333333333329
print('slopes:', model4.coef_)

train error 0.3112193874647617
test error 0.31555565369586946
coefficient of determination: 0.6484449290050482
intercept: -22.720036432315737
slopes: [-3.20129906e-02  8.19955896e-02  1.06059446e-04  1.97107591e-07
  1.22867116e-01  4.55930409e-02  2.12198185e-01  3.72841717e-06
 -5.52114109e-03  4.49926113e-04  1.18938466e-04 -3.77496344e-07
  1.02331029e-04]